@use '../tldraw-defaults.scss';
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/////////
/////////

.ddc_ink_drawing-editor {
    transition: height 0.5s ease;
    &.preventTransitions { transition: none; }

    .tl-canvas {
        background: none;   // This is needed because tldraw Obsidian plugin adds a background here?
        .tl-background {
            background: none;
        }
        overflow: hidden;
        
        border: 2px solid var(--color-base-30);
        border-radius: 20px;
        background-color: var(--color-base-05);

        // .view-content {

        //     .tlui-button.tlui-menu__trigger {
        //         display: none;
        //     }
            
        //     .tlui-navigation-zone {
        //         display: none;
        //     }
            
        //     .tlui-help-menu {
        //         display: none;
        //     }
            
            
        //     .tlui-layout__top {
        //         grid-row: 1;
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //     }
        //     .tlui-layout__bottom {
        //         grid-row: 1;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //     }

        //     // collapse space left by undo bar
        //     .tlui-toolbar__extras {
        //         height: fit-content;
        //     }
        // }

        // // Remove the option to pattern fill because that cripples saving to PNG
        // .tlui-button[data-id="pattern"] {
        //     display: none;
        // }


    }

}