@import url('@tldraw/tldraw/tldraw.css');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/////////
/////////

.tl-background {
    background: none;
}

.view-content {

    .tlui-button.tlui-menu__trigger {
        display: none;
    }
    
    .tlui-navigation-zone {
        display: none;
    }
    
    .tlui-help-menu {
        display: none;
    }
    
    
    .tlui-layout__top {
        grid-row: 1;
        position: absolute;
        top: 0;
        right: 0;
    }
    .tlui-layout__bottom {
        grid-row: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    // collapse space left by undo bar
    .tlui-toolbar__extras {
        height: fit-content;
    }
}

// Remove the option to pattern fill because that cripples saving to PNG
.tlui-button[data-id="pattern"] {
    display: none;
}