@use '../../tldraw-defaults.scss';
@use '../../../../../styles/ink-dominant-hand-layout.scss';

.ddc_ink_writing-editor.ddc_ink_ink-canvas-writing-editor {
	width: 100%;
	height: 100%;
	position: relative;

	.ink-svg-canvas-container {
		width: 100%;
		height: 100%;
	}
}
