

.ddc_ink_resize-handle {
    position: absolute;
    z-index: 1000;
    // right: var(--file-margins, 5%);
    right: 0;
    bottom: 0;
    translate: 25% 50%;

    pointer-events: auto;
    background-color: var(--interactive-normal);
    color: var(--color-base-60);
    fill: var(--color-base-60); // for svg icon elements
    &:hover {
        cursor: nwse-resize;
        background-color: var(--interactive-hover);
        color: var(--color-base-100);
        fill: var(--color-base-100);
    }

    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    padding: 0 !important;

    svg {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}


// Animation
.ddc_ink_resize-handle {
    animation: menu-button_scale-up 0.3s 0.1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}