// TODO: Can use .theme-dark and .theme-light on the body element to adjust colors - Or use the CSS variables

.ink_write_menu-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    pointer-events: none;

    button {
        pointer-events: auto;
        background-color: var(--interactive-normal);
        color: var(--color-base-60);
        fill: var(--color-base-60); // for svg icon elements
        &:hover {
            background-color: var(--interactive-hover);
            color: var(--color-base-100);
            fill: var(--color-base-100);
        }
        &:disabled {
            cursor: default;
            color: var(--text-on-accent);
            fill: var(--text-on-accent);
            background-color: var(--interactive-accent);
            &:hover {
                box-shadow: var(--input-shadow);
            }
        }
    }
}

.ink_quick-menu {
    display: flex;
    flex-direction: row;
    gap: 8px;

    button {
        aspect-ratio: 1 / 1;
        border-radius: 35%;
        padding: 0;

        svg {
            height: 60%;
        }

        &:disabled {
            visibility: hidden;
        }
    }
}

.ink_tool-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    button {
        border-radius: 50%;
        padding: 0;
        aspect-ratio: 1 / 1;

        svg {
            height: 60%;
        }
    }
}

.ink_other-menu {
    display: flex;
    flex-direction: row;
}
