// TODO: Can use .theme-dark and .theme-light on the body element to adjust colors - Or use the CSS variables

.ink_write_menu-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    pointer-events: none;

    button {
        pointer-events: auto;
        color: rgba(127.5, 127.5, 127.5, 0.7);
        &:hover {
            opacity: 1;
            color: #FFF;
        }
        &:disabled {
            opacity: 1;
            color: #FFF;
            &:hover {
                background-color: var(--interactive-normal);
                box-shadow: var(--input-shadow);
            }
        }
    }
}

.ink_quick-menu {
    display: flex;
    flex-direction: row;

    button {
        &:disabled {
            visibility: hidden;
        }
    }
}

.ink_tool-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ink_other-menu {
    display: flex;
    flex-direction: row;
}
