.ink_extended-writing-menu {
    display: flex;
    gap: 4px;

    pointer-events: auto; /* 修复：允许菜单接收鼠标事件 */
    z-index: 500; /* 使用比tldraw菜单层稍低的z-index值，但高于面板层 */

    button {
        width: auto;
        pointer-events: auto;
        background-color: var(--interactive-normal);
        color: var(--color-base-60);
        fill: var(--color-base-60);
        &:hover {
            background-color: var(--interactive-hover);
            color: var(--color-base-100);
            fill: var(--color-base-100);
        }
        &:disabled {
            cursor: default;
            color: var(--text-on-accent);
            fill: var(--text-on-accent);
            background-color: var(--interactive-accent);
            &:hover {
                box-shadow: var(--input-shadow);
            }
        }
    }

    button {
        width: 2.5em;
        height: 2.5em;
        border-radius: 0.8em;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.ddc_ink_btn-slim {
            width: 1.9em;
            height: 2.5em;
        }

        svg {
            width: 1.5em !important;
            height: 1.5em !important;
            display: block;
            margin: 0 auto;
        }
    }
}