

.ink_transition_menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 4px;//8px var(--file-margins);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        color: rgba(127.5, 127.5, 127.5, 0.7);
        &:hover {
            opacity: 1;
            color: #FFF;
        }
        &:disabled {
            opacity: 1;
            color: #FFF;
            &:hover {
                background-color: var(--interactive-normal);
                box-shadow: var(--input-shadow);
            }
        }
    }
}