

.ink_transition_menu-bar {
    position: absolute;
    top: 0;
    right: 0;
    translate: 100% 0;
    z-index: 1000;
    padding: 0 8px;//8px var(--file-margins);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    pointer-events: none;

    button {
        width: auto;
        pointer-events: auto;
        color: rgba(127.5, 127.5, 127.5, 0.7);
        &:hover {
            opacity: 1;
            color: #FFF;
        }
        &:disabled {
            opacity: 1;
            color: #FFF;
            &:hover {
                background-color: var(--interactive-normal);
                box-shadow: var(--input-shadow);
            }
        }
    }
}