


.block-widget.external-styling {
    background-color: #000000;
    border-color: #444444;
    border-radius: 10px;
    padding: 0.5em 1.2em;
    margin: 2em 0;

    h2 {
        margin: 0.5em 0 0.2em;
    }

    p {
        margin: 0.5em 0;
    }
}