.ddc_ink_section {
    margin-bottom: 2em;
}

.ddc_ink_bare-setting {
    background: none;
    border-top: none;
    padding-inline: 0;

    &--left .setting-item-control {
        justify-content: flex-start;
    }
}

.ddc_ink_section details {
    overflow: hidden;
    
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    background-color: rgba(var(--callout-color), 0.05);
    
    padding-block-start: 0.4em;
    padding-block-end: 0.4em;
    padding-inline: 1em;

    --callout-color: 255,255,255;
    &.warning {
        --callout-color: var(--callout-warning);
    }

    summary {
        font-weight: 600;
    }
}

.ddc_ink_controls-section {
    overflow: hidden;
    box-shadow: 0 0 0 2px var(--setting-items-background) inset;
    border-radius: var(--radius-l);
    background: transparent;
    padding: 0;

    .ddc_ink_controls-header {}

    .ddc_ink_controls-content {
        padding: 0.4em;
        padding-inline: 1em;
    }
}

.ddc_ink_input-medium {
    .setting-item-control {
        input {
            width: 100%;
        }
    }
}


.ddc_ink_button-set {
    flex-wrap: wrap;
    row-gap: 0.5em;
    

    .setting-item-info {
        width: 100%;
    }

    .setting-item-control {
        gap: 2px;
        flex-wrap: wrap;
        padding-bottom: 0.9em;

        button {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .ddc_ink_middle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .ddc_ink_left-most {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .ddc_ink_right-most {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .mod-cta:disabled {
            box-shadow: inset 1px 1px 3px 0.5px rgba(0, 0, 0, 0.6);
            pointer-events: none;
        }

    }

}