.ddc_ink_ink-canvas-editor {
	// Match the dimensions and layout of the tldraw editor
	width: 100%;
	height: 100%;
	position: relative;

	.ink-svg-canvas-container {
		width: 100%;
		height: 100%;
	}
}
