

/////////
/////////

.ddc_ink_writing-editor {
    transition: height 0.5s ease;
    &.prevent-transitions { transition: none; }
    
    
    .tl-canvas {
        background: none;   // This is needed because tldraw Obsidian plugin adds a background here?

        overflow: hidden;
        border-radius: 10px;
        border: 1px solid var(--color-base-20);
        
        .tl-background {
            background: none;
        }

    }
}






// TODO: Should be placed in a separate file for writing-file-styles


// Auto adapts to themes
////////////////////////

.ddc_ink_writing-editor {
    border: solid 1px var(--color-base-20);
    border-radius: 20px;
    background-color: var(--color-base-05);

    // Writing lines
    line {
        stroke: var(--color-base-50);
        stroke-width: 2px;
    }
}



