

// This was necessary when I wasn't using both the -1 and +1 techniques.
// Keeping until I decide completely to remove it.

// div.internal-embed:has(img[alt*="InkDrawing"]) {
// 	display: none !important;
// }
// img[alt*="InkDrawing"] {
// 	display: none !important;
// }


// This prevents erroneous line padding when embed is inside a line or quote section.
.cm-line:has(.ddc_ink_drawing-embed) {
    padding-inline-start: 0 !important;
    text-indent: 0 !important;
    
    .ddc_ink_embed.ddc_ink_drawing-embed {
        margin-left: 0;
        position: relative;
        left: 0;
    }
}

// TODO: This is communal to both embed types, it should be moved to a common file.

// Highlight styling for widgets when they are within a text selection
.ddc_ink_widget-root.ddc_ink_widget-highlighted {
    background-color: var(--text-selection, rgba(0, 123, 255, 0.15));
    box-shadow: unset;
    border-radius: unset;
    .ddc_ink_embed {
        opacity: 0.6;
    }
}