.ddc_ink_drawing-embed-preview {
    pointer-events: none;

    img {
        pointer-events: auto;
        cursor: pointer;
    }

    &.ddc_ink_visible-background {
        background-color: var(--color-base-05);
    }

    &.ddc_ink_visible-frame {
        border: 2px solid var(--color-base-30);
        border-radius: 20px;
    }    
    
    padding: 10%;   // TODO: This will need to be removed once the camera position is saved
}