.ddc_ink_section {
    margin-bottom: 2em;
}

.ddc_ink_section details {
    overflow: hidden;
    border-style: solid;
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    background-color: rgba(var(--callout-color), 0.05);
    padding: 1em;
    
    margin-block: 1em;
    margin-inline: -1em;

    --callout-color: 255,255,255;
    &.warning {
        --callout-color: var(--callout-warning);
    }

    summary {
        font-weight: 600;
    }
}

.ddc_ink_controls-section {
    padding-block-start: 0.2em;
    padding-block-end: 0.2em;
    padding-inline: 1em;
    margin-inline: -1em;
    border: none;
    border-radius: 10px;
    background-color: var(--color-base-20);
}

.ddc_ink_input-medium {
    .setting-item-control {
        input {
            width: 100%;
        }
    }
}


.ddc_ink_button-set {
    flex-wrap: wrap;
    row-gap: 0.3em;

    .setting-item-control {
        gap: 2px;
        flex-wrap: wrap;

        button {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .ddc_ink_middle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .ddc_ink_left-most {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .ddc_ink_right-most {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .mod-cta:disabled {
            box-shadow: inset 1px 1px 3px 0.5px rgba(0, 0, 0, 0.6);
            pointer-events: none;
        }

    }

}