@import url('@tldraw/tldraw/tldraw.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.tl-background {
    background: none;
}

.ink_embed-controls {
    display: flex;
    flex-direction: row;

    button {
        opacity: 0.4;

        &:disabled {
            opacity: 1;
            // pointer-events: none;
            cursor: default;
            // cursor: crosshair;
        }
    }
}




// Hide the color palette and anything else that shows up there
// REVIEW: This should probably be done with JS on the component so that it can be turned on at certain times if necessary
.tlui-style-panel__wrapper {
    visibility: hidden;
}