.ddc_ink_toggle-accordion {
    padding: 0;

    .ddc_ink_toggle-accordion-content {
        display: none;
    }


    &.ddc_ink_expanded {
        margin-bottom: 2em;

        box-shadow: 0 0 0 2px var(--setting-items-background) inset;
        border-radius: var(--radius-l);
        overflow: hidden;
        background-color: transparent;

        .ddc_ink_toggle-accordion-content {
            display: block;

            padding: 0.4em;
            padding-inline: 1em;
        }
    
    }

}