


// Enables placing elements outside of the embed
.markdown-source-view.mod-cm6 .cm-content > .cm-preview-code-block.cm-embed-block.markdown-rendered[contenteditable=false]:has(.ink_writing-embed),
.markdown-source-view.mod-cm6 .cm-content > .cm-preview-code-block.cm-embed-block.markdown-rendered[contenteditable=false]:has(.ink_writing-embed):hover {
    contain: unset !important;
    overflow: visible;
}



.ink_write_menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 8px var(--file-margins);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    pointer-events: none;

    button {
        pointer-events: auto;
        color: rgba(127.5, 127.5, 127.5, 0.7);
        &:hover {
            opacity: 1;
            color: #FFF;
        }
        &:disabled {
            opacity: 1;
            color: #FFF;
            &:hover {
                background-color: var(--interactive-normal);
                box-shadow: var(--input-shadow);
            }
        }
    }
}

// If inside an embed block
.cm-embed-block .ink_write_menu-bar {
    transform: translate(0, -100%);
}



.ink_quick-menu {
    display: flex;
    flex-direction: row;

    button {
        &:disabled {
            visibility: hidden;
        }
    }
}

.ink_tool-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ink_other-menu {
    display: flex;
    flex-direction: row;
}