@import url('@tldraw/tldraw/tldraw.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/////////
/////////


.tlui-layout__bottom {
    display: none;
}

// Hide the tool palettes
// ie. colour palette
.tlui-style-panel__wrapper {
    display: none;
}


// Hide the hamburger menu
// ie. File menu, export, embed, etc.
.tlui-menu__trigger {
    display: none;
}

// Hide the page dropdown
.tlui-page-menu__trigger {
    display: none;
}

// Hide the overflow tools
//ie. Alignment, rotate, group, etc.
.tlui-menu__trigger {
    display: none;
}